{% include "navbar.jinja2" %}

{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='static/css/forms.css') }}"
        type="text/css"
    />
{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <div class="formHolder">
          <div class="category">{{ msg|safe }}</div>
          <form method="POST" action="/admin/dbinit">
            {{ form.csrf_token }}
              <heading class="heading-xl" >Create App Database</heading>
              <div class="tab"></div>

              <fieldset class="form-field">{{ form.database_type.label(class='formLabel') }} {{ form.database_type(class='formInput')}}
                {% if form.database_type.errors %}
                  <ul class="errors">
                    {% for error in form.database_types.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="form-field">{{ form.username.label(class='formLabel') }} {{ form.username(class='formInput')}}
                {% if form.username.errors %}
                  <ul class="errors">
                    {% for error in form.username.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="form-field">{{ form.password.label(class='formLabel') }} {{ form.password(class='formInput')}}
                {% if form.password.errors %}
                  <ul class="errors">
                    {% for error in form.password.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="form-field">{{ form.host.label(class='formLabel') }} {{ form.host(class='formInput')}}
                {% if form.host.errors %}
                  <ul class="errors">
                    {% for error in form.host.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="form-field">{{ form.port.label(class='formLabel') }} {{ form.port(class='formInput')}}
                {% if form.port.errors %}
                  <ul class="errors">
                    {% for error in form.port.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="form-field">{{ form.app_name.label(class='formLabel') }} {{ form.app_name(class='formInput')}}
                {% if form.password.errors %}
                  <ul class="errors">
                    {% for error in form.app_name.errors %}
                      <li class="error">
                          <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <div>
              <div class="tab"></div>

              {{ form.submit(class='btn-ghost-purple')}}
          </form>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class=flashes>
          <a href="" class="close">
          <div class="errorMessage">
          {% for message in messages %}
             <text>{{message}}<text>
          {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
          </div>
          </a>
        </div>
    </div>

{% endblock %}