{% include "navbar.jinja2" %}
  <div class="card app-card">
    <table class="table table-purple">
      <thead>
        <tr>
        {% for info in app %}
            <tbody>
            <td class="text text-purple">{{info}}</td>
            <td class="text text-purple">{{app[info]}}</td>

            {%for items in app["info"]%}
                <td class="text text-white">{{items}}</td>
            {%endfor%}
            </td>
        </tr>
        {% endfor %}
        </thead>
    </table>
  </div>
{% block body %}{% endblock %}
